
dialog.modal_wrapper {
    position: fixed;
    z-index: 100;
    width: 100%;
    height: 100%;
    background-color: inherit;
    backdrop-filter: blur(6px);
    transition: all 0.3s;

    border:none;
    padding:0;
}

dialog.modal_wrapper div.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    z-index: 1000;
    transform: translate(-50%, -50%);

    padding: 40px 80px;

    border-radius: 20px;
    border: 1px solid #CCC;
    background: #FFF;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

dialog.modal_wrapper div.modal svg{
    position:absolute;
    top:16px;
    right:16px;

    width:24px;
    height:24px;
    cursor:pointer;
}

dialog.modal_wrapper div.leavesRegistContainer form {
    display:flex;
    flex-direction: column;
    align-items: center;
    gap:8px;
}

dialog.modal_wrapper div.leavesRegistContainer form span.header {
    margin-bottom: 20px;
    color: #081935;
    text-align: center;
    font-family: Gmarket Sans;
    font-size: 62px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

dialog.modal_wrapper div.leavesRegistContainer div.inputContainer {
    display:flex;
    flex-direction: column;
    align-items: flex-start;
    gap:6px;
}

dialog.modal_wrapper div.leavesRegistContainer div.inputContainer label {
    color: #081935;
    text-align: center;
    font-family: Gmarket Sans;
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

dialog.modal_wrapper div.leavesRegistContainer form div.inputContainer input,
dialog.modal_wrapper div.leavesRegistContainer form div.inputContainer select {
    width:500px;
    height:60px;
    box-sizing: border-box;

    border:none;
    border-radius:10px;
    padding:20px 12px;
    background-color:#DADADA;

    display:inline-flex;
    justify-content: flex-start;
    align-items: center;

    color: #000;
    font-family: Gmarket Sans;
    font-size: 22px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

dialog.modal_wrapper div.leavesRegistContainer form div.inputContainer textarea {
    display: inline-flex;
    width:500px;
    height: 120px;
    box-sizing:border-box;
    padding:19px 12px;
    align-items: center;
    flex-shrink: 0;

    border-radius: 10px;
    background: #DADADA;

    color: #959595;
    font-family: Gmarket Sans;
    font-size: 22px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

dialog.modal_wrapper div.leavesRegistContainer form div.rowContent {
    display:flex;
    flex-direction: row;
    align-items: center;
    gap:16px;
}

dialog.modal_wrapper div.leavesRegistContainer div.typeContainer div.rowContent {
    width:500px;
}

dialog.modal_wrapper div.leavesRegistContainer form div.rowContent div.inputContainer input,
dialog.modal_wrapper div.leavesRegistContainer form div.rowContent div.inputContainer select {
    width:240px;
}


dialog.modal_wrapper div.leavesRegistContainer form input[type=submit] {
    display: flex;
    width: 500px;
    padding: 10px 171px 9px 172px;
    justify-content: center;
    align-items: center;

    border-radius: 10px;
    background: #081935;

    color: #FFF;
    text-align: center;
    font-family: Gmarket Sans;
    font-size: 38px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    cursor:pointer;
}