main{
    display:flex;
    flex-direction:column;
    align-items:center;

    width:90%;
    position:relative;
}

div.headerContainer{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items:flex-end;

    width:90%;
    padding-top:57px;
}

div.headerContainer span.title {
    color: #081935;
    font-family: Gmarket Sans;
    font-size: 62px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

div.headerContainer a {
    padding:6px 10px;
    border-radius: 6px;
    background: #081935;

    display: flex;
    justify-content: center;
    align-items: center;

    cursor:pointer;
}

div.headerContainer a span{
    color: #FFF;
    text-align: center;
    font-family: Gmarket Sans;
    font-size: 32px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.table_wrapper {
    width:95%;
    height:80vh;
    max-height:80vh;
    overflow:auto;

    padding-right:20px;
    position:relative;
    margin-top:50px;

    display:flex;
    flex-direction: column;
    align-items: flex-end;
}

.table_wrapper::-webkit-scrollbar {
    width:18px;
}

.table_wrapper::-webkit-scrollbar-thumb {
    background-color:lightgrey;
    border-radius:30px;
}

.table_wrapper::-webkit-scrollbar-track {
    background-color:#efefef;
    border-radius:30px;
}

.usersTable {
    width:100%;
    text-align:center;
    position:relative;
    border-collapse: separate;
}

.usersTable thead{
    position:sticky;
    top:0px;
    width:80%;
    height:60px;
    background-color:white;
}

.usersTable thead td,
.usersTable thead th {
    padding-bottom:10px;
    font-size:24px;
    border-spacing:0;
    border-bottom:1px solid lightgrey;
    vertical-align:middle
}

.usersTable thead th {
    color: #000;
    text-align: center;
    font-family: Gmarket Sans;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.usersTable tbody tr td:first-child { border-top-left-radius: 16px; }
.usersTable tbody tr td:last-child { border-top-right-radius: 16px; }

.usersTable tbody tr td:first-child { border-bottom-left-radius: 16px; }
.usersTable tbody tr td:last-child { border-bottom-right-radius: 16px; }


.usersTable tbody tr:hover {
    background-color:#bbbbbb;
}

.usersTable tbody tr> td {
    text-align:center;
    padding-bottom:12px;
    padding-top:12px;
    font-size:22px;
    font-weight:600;
}

.usersTable .btns-wrapper {
    display:flex;
    gap: 12px;
    justify-content: center;
    align-items: center;
}

.usersTable .small-button {
    border:none;
    padding:4px 18px;
    vertical-align:center;

    font-size:24px;
    color:white;
    border-radius:6px;

    background-color:#081935;
    cursor:pointer;
}

.usersTable thead tr th form {
    display:flex;
    position:relative;
}

.usersTable thead tr th form input[type=text]{
    width:160px;
    height:22px;
    padding:5px 10px;

    border-left-top-radius:10px;
    border-left-bottom-radius:10px;
    background-color:#dadada;
    border:none;
}

.usersTable thead tr th form input[type=submit]{
    border:none;
    border:.5px solid grey;
    background-color:#dadada;
    border-right-top-radius:10px;
    border-right-bottom-radius:10px;
    font-size:16px;
    font-weight:900;
}

td button.delete-button {
    background-color: #F54D4D !important;
}

div.table_wrapper div.pagination {
    display: flex;
    gap: 8px;
    font-size: 24px;
    font-weight: 900;
}

div.table_wrapper div.pagination div.paginationBtn{
    width:24px;
    height:24px;
    letter-spacing: -8px;

    margin-top:12px;

    cursor:pointer;

    display:flex;
    justify-content: center;
    align-items: center;
}
